.active {
  opacity: .3;
  pointer-events: none;
}

video {
  width: 100%;
  margin-bottom: 1rem;
}

img {
  width: 100%;
}

.preuzeto {
  font-size: 0.8rem;
  color: #999;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* chane hr color */
hr {
  border-top: 1px solid red !important;
}